<md-toolbar color="primary" flex>
    <span>Tuniversidad - Admin</span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  <span>Educalabs</span>
</md-toolbar>

<div class="contenido-login">
    <md-card class="tarjeta-login">    
        <md-card-content>
            <!-- Input del email -->
            <md-input-container class="input-login">
                <input mdInput placeholder="Email" [(ngModel)]='credenciales.email'>
            </md-input-container>
            <!-- Input de la contraseña -->
            <md-input-container class="input-login">
                <input type="password" mdInput placeholder="Contraseña" [(ngModel)]='credenciales.password'>
            </md-input-container>
            <!-- Boton para iniciar sesión -->
            <br><button class="boton-login" color="primary" md-raised-button (click)='login()'>Iniciar sesión</button>
        </md-card-content>
    </md-card>
</div>