$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
    primary:          #488aff,
    secondary:      #426caf,
    danger:           #f53d3d,
    light:               #f4f4f4,
    dark:               #222,

    tarjeta_1:        #3c5172,
    tarjeta_2:        #3c5172,
    tarjeta_3:        #3c5172,
    tarjeta_4:        #3c5172
);


@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
