<div  class="contenido-mobile">
    <md-card>
        <md-card-title>Error</md-card-title>
        <md-card-content>
            <p>No puedes ver este contenido desde el celular.</p>
        </md-card-content>
    </md-card>
</div>

<div  class="contenido-desktop">
    <div style="width: 100%; text-align: center;">
        <div style="display:inline-block; width: 45%; padding: 10px 5px 5px 20px">
            <md-card>
                <md-card-title>Usuarios</md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item>Usuarios con Rut: {{ cantidad_usuarios_con_rut }}</md-list-item>
                        <md-list-item>Usuarios sin Rut: {{ cantidad_usuarios_sin_rut }}</md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>

        <div style="display:inline-block;  width: 45%; padding: 10px 5px 5px 20px">
            <md-card>
                <md-card-title>Metas</md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item>Usuarios con metas: {{ cantidad_usuarios_con_metas }}</md-list-item>
                        <md-list-item>Metas por usuario: {{ promedio_metas_por_usuarios }}</md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <div style="width: 100%; text-align: center;">
        <div style="display:inline-block; width: 45%; padding: 10px 5px 5px 20px">
            <md-card>
                <md-card-title>Ensayos</md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item>Usuarios con ensayos: {{ cantidad_usuarios_con_ensayos }}</md-list-item>
                        <md-list-item>Ensayos por usuario: {{ promedio_ensayos_por_usuario }}</md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>

        <div style="display:inline-block;  width: 45%; padding: 10px 5px 5px 20px">
            <md-card>
                <md-card-title>Metas</md-card-title>
                <md-card-content>Usuarios con metas: {{ cantidad_usuarios_con_metas }}</md-card-content>
            </md-card>
        </div>
    </div>

    <md-card class='tarjeta-usuarios'>
        <md-card-content>
            <table class="table table-striped">
                <thead>
                    <tr><th *ngFor="let cell of columnas_mostradas">{{ cell }}</th></tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of usuarios_con_rut">
                        <td *ngFor="let cell of row" (click)="seleccionar_usuario(row[0])">{{ cell }}</td>
                    </tr>
                </tbody>
            </table>
        </md-card-content>
    </md-card>
</div>