<ion-header>
    <ion-navbar>
        <ion-title>Detalle de carrera</ion-title>
        <!-- Boton para actualizar universidad -->
        <ion-buttons end>
            <button ion-button icon-only (click)='actualizar_carrera()'>
                <ion-icon name="checkmark" ></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <div *ngIf='info_carrera'>
        <!-- Nombre de la carrera -->
        <h1 padding>Información de: {{ info_carrera.title }}</h1>
        <!-- Área de la carrera -->
        <h2 padding>Área de la carrera: {{ info_carrera.area_title }}</h2>
        <!-- Select con todas las áreas -->
        <ion-item *ngIf='areas'>
            <ion-label>Cambiar area</ion-label>
            <ion-select [(ngModel)]='area_nueva' >
                <ion-option text-wrap *ngFor="let p of areas" [value]="p.id" >
                    {{ p.title }}
                </ion-option>
            </ion-select>
        </ion-item>
    </div>
</ion-content>